pre {
	background: #f7f7f7;
	border: 1px solid #d7d7d7;
	margin: 1em 1.75em;
	padding: .25em;
}

pre code {
	color: #00f;
}
pre code .tag {
	color: #080;
}
pre code .tag.special {
	background: #dfd;
}
pre code .attr {
	color: #808;
}
pre code .attr .attrval {
	color: #606;
}
pre code .attr.special {
	background: #fef;
}

pre var {
	background: #fff;
	color: #800;
}
pre code .attr .attrval var {
	color: #a0a;
	background: #fff;
}

pre .comment {
	color: #888;
}